<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <h1 class="display-6 text-center">Edit Contests #<th:block th:text="*{id}"></th:block></h1>
    <form th:action="@{/contests/edit}"
          th:method="post"
          th:object="${contestEditModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center aos-init aos-animate">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
            <label for="name" class="form-label">Contest name</label>
            <input id="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control"
                   placeholder="Contest Name"
                   required>
            <div class="invalid-feedback" th:errors="*{name}">
                Name error message.
            </div>
        </div>

        <div class="form-row">
            <label for="managers" class="form-label">Managers</label>
            <select id="managers" class="form-select"
                    th:field="*{managers}"
                    th:errorclass="is-invalid"
                    multiple="multiple"
                    data-purpose='multiselect'
                    data-placeholder="-- Please select at least one manager --">
                <option th:each="m : ${contestManagers}"
                        th:value="${{m.id}}"
                        th:text="${m.fullName}"
                        multiple="multiple" data-purpose="multiselect">Managers full name
                </option>
            </select>
            <p class="invalid-feedback" th:errors="*{managers}">
                Name error message.
            </p>
        </div>

        <div class="d-flex justify-content-end align-items-end">
            <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </form>
</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

<script src="/js/edition-modify.js"></script>
</body>
</html>
