<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <h1 class="display-6 text-center">Create a Contests</h1>
    <form th:action="@{/contests/create}"
          th:method="post"
          th:object="${contestModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center aos-init aos-animate">
        <p  th:if="${#fields.hasErrors('global')}"
            th:each="err : ${#fields.errors()}"
            th:text="${err}" class="text-danger">Error message</p>
        <div class="form-row">
            <label for="name" class="form-label">Contest name</label>
            <input id="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control"
                   placeholder="Contest Name"
                   required>
            <div class="invalid-feedback" th:errors="*{name}">
                First name error message.
            </div>
        </div>

        <div id="managers">
            <label class="form-label">Managers</label>
            <p class="text-danger" th:if="${#fields.errors('managers')}" th:errors="*{managers}"></p>
            <div class="form-row" th:each="manager, itemStat :*{managers}" name="manager-row" th:data-manager="${itemStat.index}">
                <div class="row">
                    <div class="col-10">
                        <select class="form-control"
                                th:field="*{managers[__${itemStat.index}__].id}"
                                th:errorclass="is-invalid">
                            <option value="">--Select Manager--</option>
                            <option th:each="m : ${contestManagers}"
                                    th:value="${m.id}"
                                    th:text="${m.fullName}"
                                    th:selected="${m.id} == *{managers[__${itemStat.index}__].id}"
                            >Managers full name
                            </option>
                        </select>
                        <p class="invalid-feedback" th:errors="*{managers[__${itemStat.index}__].id}">
                            Name error message.
                        </p>
                        <input type="hidden" th:field="*{managers[__${itemStat.index}__].deleted}">
                    </div>
                    <div class="col-2">
                        <button name="btn-add" class="btn btn-sm btn-primary" th:data-id="${itemStat.index}"><i
                                class="bi bi-plus-square"></i></button>
                        <button name="btn-remove" class="btn btn-sm btn-danger" th:data-id="${itemStat.index}"><i
                                class="bi bi-x-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-end">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>
</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

<script src="/js/contest-modify.js"></script>
</body>
</html>
