<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}"></head>

<body>

<div th:replace="~{fragments/header :: topbar}">Contacts</div>

<header th:replace="~{fragments/header :: header}">Main Navigation</header>

<main id="main" class="container">

    <h2>Manage your account</h2>

    <div>
        <h4>Change your account settings</h4>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <th:block th:insert="~{fragments/account-management :: site-bar}"></th:block>
            </div>

            <div class="col-md-9">

                <h4>Delete Personal Data</h4>

                <div class="alert alert-warning" role="alert">
                    <p>
                        <strong>Deleting this data will permanently remove your account, and this cannot be
                            recovered.</strong>
                    </p>
                </div>

                <div>
                    <form th:method="post"
                          th:action="@{/account/delete_personal_data}"
                          th:object="${deleteUserModel}">

                        <div class="form-row">
                            <label for="password">Password</label>
                            <input class="form-control" autocomplete="current-password" type="password"
                                   data-val="true" data-val-required="Password field is required."
                                   id="password" th:field="*{password}">
                            <p  th:if="${#fields.hasErrors()}"
                                  th:each="err : ${#fields.errors()}"
                                  th:text="${err}" class="text-danger">Error message</p>
                        </div>
                        <button class="btn btn-danger" type="submit">Delete data and close my account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
