<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
  <h1 class="display-6 text-center">Create a profile in Singers Contests System</h1>
  <form th:action="@{/authentication/register}" th:method="post" th:object="${userModel}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center aos-init aos-animate"
        autoComplete="off">
    <label for="firstName" class="form-label">Name</label>
    <div class="row">
      <div class="col-md-4">
        <input id="firstName" th:field="*{firstName}" th:errorclass="is-invalid"
               type="text" class="form-control"
               placeholder="First"
               required>
        <div class="invalid-feedback" th:errors="*{firstName}">
          First name error message.
        </div>
      </div>

      <div class="col-md-4">
        <input id="middleName" th:field="*{middleName}" th:errorclass="is-invalid"
               type="text" class="form-control"
               placeholder="Middle">
        <p class="invalid-feedback" th:errors="*{middleName}">
          Middle name error message.
        </p>
      </div>

      <div class="col-md-4">
        <input id="lastName" th:field="*{lastName}" th:errorclass="is-invalid"
               type="text" class="form-control"
               placeholder="Last"
               required>
        <p class="invalid-feedback" th:errors="*{lastName}">
          Last name error message.
        </p>
      </div>
    </div>

    <div class="row mb-0">
      <div class="col-md-9">
        <div class="form-row">
          <label for="username" class="form-label">User name</label>
          <input id="username" th:field="*{username}" th:errorclass="is-invalid"
                 type="text" class="form-control" autoComplete="none" required>
          <p class="invalid-feedback" th:errors="*{username}">
            UserName error message.
          </p>
        </div>
        <div class="row">
          <div class="form-row col-md-6">
            <label for="email" class="form-label">Email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input id="email" th:field="*{email}" th:errorclass="is-invalid" type="text"
                     class="form-control"
                     aria-describedby="inputGroupPrepend" required>
              <p class="invalid-feedback" th:errors="*{email}">
                Email error message.
              </p>
            </div>
          </div>

          <div class="form-row col-md-6">
            <label for="phone" class="form-label">Phone number</label>
            <div class="input-group has-validation">
              <span class="input-group-text"><i class="bi bi-phone"></i></span>
              <input id="phone" th:field="*{phoneNumber}" th:errorclass="is-invalid" type="text"
                     class="form-control"
                     aria-describedby="inputGroupPrepend" required>
              <p class="invalid-feedback" th:errors="*{phoneNumber}">
                Error message.
              </p>
            </div>
          </div>

        </div>

        <div class="row form-row">
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input id="password" th:field="*{password}" th:errorclass="is-invalid"
                   type="password" class="form-control" required>
            <p class="invalid-feedback" th:errors="*{password}">
              Password error message.
            </p>
          </div>
          <div class="col-md-6">
            <label for="confirm-password" class="form-label">Confirm password</label>
            <input id="confirm-password" th:field="*{confirmPassword}" th:errorclass="is-invalid"
                   type="password" class="form-control" required>
            <p class="invalid-feedback" th:errors="*{confirmPassword}">
              Confirm password error message.
            </p>
          </div>
        </div>
        <p class="mt-2 ms-2">Use 8 or more characters with a mix of letters, numbers & symbols</p>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <img class="mt-2 ms-4" src="/images/vintage-mick.png" width="62%">
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-end">
      <input type="submit" class="btn btn-primary" value="Register">
    </div>
  </form>
</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
