<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Jury management</title>
</head>
<body>
<ul th:fragment="site-bar" class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link"
           id="profile"
           th:classappend="${(promote == null) ? '':'active'}"
           th:href="@{/administration/jury}">Promote Jury Member</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           id="email"
           th:classappend="${(edit == null) ? '':'active'}"
           th:href="@{/administration/jury/edit}">Edit Jury Member</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           id="change-password"
           th:classappend="${(demote == null) ? '':'active'}"
           th:href="@{/administration/jury/demote}">Demote Jury Member</a>
    </li>
</ul>
</body>
</html>
