<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/header :: head}"></head>
<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <div class="table-responsive-md">
        <table class="table table-hover">
            <tbody>
            <tr th:each="contest : ${contestList}" th:object="${contest}">
                <th class="max-width-40" scope="row">
                    <img class="d-none d-md-block ms-2" th:src="@{/images/favicon-64x64.png}"/>
                    <img class="d-none d-sm-block d-md-none ms-2" th:src="@{/images/favicon-32x32.png}"/>
                    <img class="d-sm-none" th:src="@{/images/favicon-16x16.png}"/>
                </th>
                <td class="h2 align-middle" th:text="*{name}">Competition</td>
                <td class="align-middle text-end pe-md-3">
                    <a th:href="@{/contests/edit/{id}(id=*{id})}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                    <form class="d-inline" th:method="delete" th:action="@{/contests/delete/{id}(id=*{id})}">
                        <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-x-square"></i> Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
