<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/header :: head}"></head>
<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <div class="table-responsive-md">
        <table class="table table-borderless table-striped">
            <tbody>
            <tr th:each="contest : ${contestList}" th:object="${contest}">
                <th scope="row">
                    <img class="d-none d-md-block" th:src="@{/images/favicon-64x64.png}" width="46" />
                    <img class="d-none d-sm-block d-md-none" th:src="@{/images/favicon-32x32.png}" />
                    <img class="d-sm-none" th:src="@{/images/favicon-16x16.png}" />
                </th>
                <td th:text="*{name}">Competition</td>
                <td>
                    <div class="row">
                        <a class="col-md-5 btn btn-sm btn-primary">Edit</a>
                        <a class="offset-md-1 col-md-5 btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
