    <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body>

<div th:replace="~{fragments/header :: topbar}">Contacts</div>

<header th:replace="~{fragments/header :: header}">Main Navigation</header>

<main id="main" class="container">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <h4><a th:href="@{/contests}"><div class="icon"><i class="bx bx-shield-alt-2"></i></div>Contests</a></h4>
                        <p>Registration and management of the singers contests. Here you can create new contest, or edit existing one.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <h4><a th:href="@{/editions}"><div class="icon"><i class="bx bx-book-bookmark"></i></div>Editions</a></h4>
                        <p>Registration and management of the singers contests editions. Here you can create new edition of the contest, or edit existing one.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <h4><a th:href="@{/contestants/editions}"><div class="icon"><i class="bx bx-user-voice"></i></div>Register Contestant</a></h4>
                        <p>Registration and management of the contestant. Here you can register a contestant in the concrete contest.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <h4><a th:href="@{/scenario}"><div class="icon"><i class="bx bx-list-ol"></i></div>Scenario Order</a></h4>
                        <p>You can find here scenario orders for all the upcoming contests!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <h4><a th:href="@{/jury/editions}"><div class="icon"><i class="bx bx-calendar"></i></div>Performance evaluation</a></h4>
                        <p>Evaluation of the performances during the competition by the jury members</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <h4><a th:href="@{/ranking/editions}"><div class="icon"><i class="bx bx-user-minus"></i></div>Ranking</a></h4>
                        <p>Here you can see the rankings from the competitions held for you favourites</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:insert="~{fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
