<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-shield-alt-2"></i></div>
                        <h4><a th:href="@{/contests}">Contests</a></h4>
                        <p>Registration and management of the singers contests. Here you can create new contest, or edit existing one.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-book-bookmark"></i></div>
                        <h4><a href="">Create Edition</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user-voice"></i></div>
                        <h4><a href="">Register Contestant</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-calendar"></i></div>
                        <h4><a href="">Contest calendar</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user-minus"></i></div>
                        <h4><a href="">Ranking</a></h4>
                        <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-right-indent"></i></div>
                        <h4><a href="">Scenario Order</a></h4>
                        <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!--    <form class="row g-3 needs-validation" novalidate>-->
    <!--        <div class="col-md-4">-->
    <!--            <label for="validationCustom01" class="form-label">First name</label>-->
    <!--            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>-->
    <!--            <div class="valid-feedback">-->
    <!--                Looks good!-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-4">-->
    <!--            <label for="validationCustom02" class="form-label">Last name</label>-->
    <!--            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>-->
    <!--            <div class="valid-feedback">-->
    <!--                Looks good!-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-4">-->
    <!--            <label for="validationCustomUsername" class="form-label">Username</label>-->
    <!--            <div class="input-group has-validation">-->
    <!--                <span class="input-group-text" id="inputGroupPrepend">@</span>-->
    <!--                <input type="text" class="form-control" id="validationCustomUsername"-->
    <!--                       aria-describedby="inputGroupPrepend" required>-->
    <!--                <div class="invalid-feedback">-->
    <!--                    Please choose a username.-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-6">-->
    <!--            <label for="validationCustom03" class="form-label">City</label>-->
    <!--            <input type="text" class="form-control" id="validationCustom03" required>-->
    <!--            <div class="invalid-feedback">-->
    <!--                Please provide a valid city.-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-3">-->
    <!--            <label for="validationCustom04" class="form-label">State</label>-->
    <!--            <select class="form-select" id="validationCustom04" required>-->
    <!--                <option selected disabled value="">Choose...</option>-->
    <!--                <option>...</option>-->
    <!--            </select>-->
    <!--            <div class="invalid-feedback">-->
    <!--                Please select a valid state.-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-3">-->
    <!--            <label for="validationCustom05" class="form-label">Zip</label>-->
    <!--            <input type="text" class="form-control" id="validationCustom05" required>-->
    <!--            <div class="invalid-feedback">-->
    <!--                Please provide a valid zip.-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-12">-->
    <!--            <div class="form-check">-->
    <!--                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>-->
    <!--                <label class="form-check-label" for="invalidCheck">-->
    <!--                    Agree to terms and conditions-->
    <!--                </label>-->
    <!--                <div class="invalid-feedback">-->
    <!--                    You must agree before submitting.-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-12">-->
    <!--            <button class="btn btn-primary" type="submit">Submit form</button>-->
    <!--        </div>-->
    <!--    </form>-->
</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
