<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <main role="main" class="pb-3">

        <h2>Manage your account</h2>

        <div>
            <h4>Change your account settings</h4>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <th:block th:insert="~{/fragments/account-management :: site-bar}"></th:block>
                </div>
                <div class="col-md-9">

                    <h4>Profile</h4>


                    <div class="row">
                        <div class="col-md-6">
                            <form id="profile-form"
                                  th:method="post"
                                  th:action="@{/account/password}"
                                  th:object="${passwordModel}">
                                <div  th:if="${#fields.hasErrors()}"
                                        th:each="err : ${#fields.errors()}"
                                        th:text="${err}" class="text-danger new-line">Error message</div>
                                <div class="form-row">
                                    <label for="current-password">Current password</label>
                                    <input class="form-control" autocomplete="current-password" type="password"
                                           data-val="true" data-val-required="The Current password field is required."
                                           id="current-password" th:field="*{currentPassword}"
                                           th:errorclass="is-invalid">
                                    <p class="invalid-feedback" th:errors="*{currentPassword}">
                                        UserName error message.
                                    </p>
                                </div>
                                <div class="form-row">
                                    <label for="new-password">New password</label>
                                    <input class="form-control" autocomplete="new-password" type="password"
                                           data-val="true"
                                           data-val-length="The New password must be at least 6 and at max 100 characters long."
                                           data-val-length-max="100" data-val-length-min="6"
                                           data-val-required="The New password field is required."
                                           id="new-password" maxlength="100"
                                           th:field="*{newPassword}"
                                           th:errorclass="is-invalid">
                                    <p class="invalid-feedback" th:errors="*{newPassword}">
                                        UserName error message.
                                    </p>
                                </div>
                                <div class="form-row">
                                    <label for="confirm-password">Confirm new password</label>
                                    <input class="form-control" autocomplete="new-password" type="password"
                                           data-val="true"
                                           data-val-equalto="The new password and confirmation password do not match."
                                           data-val-equalto-other="*.NewPassword" id="confirm-password"
                                           th:field="*{confirmPassword}"
                                           th:errorclass="is-invalid">
                                    <p class="invalid-feedback" th:errors="*{confirmPassword}">
                                        UserName error message.
                                    </p>
                                </div>
                                <button type="submit" class="btn btn-primary">Update password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

</body>
</html>
