<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}"></head>

<body>

<div th:replace="~{fragments/header :: topbar}">Contacts</div>

<header th:replace="~{fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <div class="row">
        <div class="col-md-3">
            <th:block th:insert="~{fragments/jury-management :: site-bar}"></th:block>
        </div>
        <div class="col-md-9 mb-3" data-aos="zoom-in" data-aos-delay="100">
            <h1 class="display-6 text-center">Select Jury Members To Demote</h1>
            <form th:action="@{/administration/jury/demote}"
                  th:method="post">
                    <div class="table-wrapper mt-md-4 mb-md-4 ">
                        <table class="table table-bordered table-condensed table-striped">
                            <th:block th:if="${juryDemoteModel.members.isEmpty()}">
                                <tr>
                                    <td colspan="2">No Users Are Members</td>
                                </tr>
                            </th:block>
                            <th:block th:unless="${juryDemoteModel.members.isEmpty()}">
                                <tr th:each="user : ${juryDemoteModel.members}" th:object="${user}">
                                    <td th:text="*{fullName}"></td>
                                    <td>
                                        <input type="checkbox" name="IdsToRemove" th:value="*{id}">
                                    </td>
                                </tr>
                            </th:block>
                        </table>
                    </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a th:href="@{/administration/home}" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/scripts :: baseScripts}">
</th:block>
</script>
</body>
</html>
