<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <div class="row">
        <div class="col-md-3">
            <th:block th:insert="~{/fragments/jury-management :: site-bar}"></th:block>
        </div>
        <div class="col-md-9">
            <h1 class="display-6 text-center">Promote Jury Member</h1>
            <form th:action="@{/administration/jury}"
                  th:method="post"
                  th:object="${juryModel}"
                  class="main-form main-form-high mx-auto d-flex flex-column justify-content-center aos-init aos-animate">
                <p th:if="${#fields.hasGlobalErrors()}"
                   th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}" class="text-danger">Error message</p>
                <div class="row">
                    <div class="form-row col-md-9 mb-0">
                        <label for="id" class="form-label">Jury member</label>
                        <select id="id"
                                th:field="*{id}"
                                th:errorclass="is-invalid"
                                type="number" class="form-select"
                                required>
                            <option value="">-- Choose an user --</option>
                            <option th:each="user : ${potentialJuryMembers}"
                                    th:value="${user.id}"
                                    th:text="${user.fullName}">Option
                            </option>
                        </select>
                        <div class="invalid-feedback" th:errors="*{id}">
                            Error message.
                        </div>
                        <div class="row">
                            <div class="form-row">
                                <label th:for="*{details}" class="form-label">Details</label>
                                <textarea id="regulations"
                                          th:field="*{details}"
                                          th:errorclass="is-invalid"
                                          class="form-control"
                                          rows="12"
                                          required></textarea>
                                <div class="invalid-feedback" th:errors="*{details}">
                                    Error message.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex justify-content-end pe-3">
                        <div class="text-center">
                            <label class="form-label" for="picture-holder">Picture</label>
                            <img src="#" id="picture-holder" class="picture-holder">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#chooseFileModal">
                                Upload picture
                            </button>
                            <div th:if="${#fields.hasErrors('imageUrl')}"
                                 th:errorclass="is-valid"
                                 th:errors="*{imageUrl}"
                                 class="text-danger d-block">
                                Style error message
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{imageUrl}">

                    <div class="clearfix d-flex justify-content-end pe-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="chooseFileModal" tabindex="-1" role="dialog" aria-labelledby="chooseFileModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="file-upload" th:action="@{/api/file/upload}">
                <div class="modal-header">
                    <h5 class="modal-title" id="chooseFileModalLabel">Choose picture to upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <label class="form-label" for="file"></label>
                        <input type="file" id="file" name="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="upload">
                        <span id="upload-text">Upload</span>
                        <span id="spinner" hidden="hidden">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--ErrorModal-->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-danger text-center">Failed to upload file!</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>
<script>
    const form = document.getElementById('file-upload');

    form.addEventListener('submit', function (event) {
        // Prevent default HTML page refresh
        event.preventDefault();

        const btnUploadText = document.getElementById('upload-text');
        btnUploadText.hidden = true;
        const spinner = document.getElementById('spinner');
        spinner.hidden = false;
        spinner.parentElement.disabled = true;

        // Select file upload element
        const uploadElement = document.getElementById('file');

        // Extract the file (for a single file, always 0 in the list)
        const file = uploadElement.files[0];

        // Create new formData object then append file
        const payload = new FormData();

        // Get anti-forgery token
        const csrf = document.getElementsByName("_csrf")[0];
        payload.append('_csrf', csrf.value);
        payload.append('file', file);


        fetch(form.action, {
            method: "POST",
            body: payload,
        })
            .then(response => {
                if (response.status === 403) throw new Error('403 is unacceptable for me!');
                return response.text()
            })
            .then(data => {

                    const imgUrl = document.getElementById('imageUrl');
                    const img = document.getElementById('picture-holder');
                    img.src = data;
                    imgUrl.value = data;
                }
            )
            .catch((err) => {
                const errModalElement = document.getElementById('errorModal');
                const errModal = new bootstrap.Modal('#errorModal', {keyboard: true})
                errModal.show();
                console.log(err);
            })
            .finally(() => {

                const fileInput = document.getElementById("file")
                fileInput.value = "";

                const btnUploadText = document.getElementById('upload-text');
                btnUploadText.hidden = false;
                const spinner = document.getElementById('spinner');
                spinner.hidden = true;
                spinner.parentElement.disabled = false;

                const modalElement = document.getElementById('chooseFileModal');
                const modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();
            })
    });
</script>
</body>
</html>
