<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/header :: head}"></head>

<body>

<div th:replace="~{/fragments/header :: topbar}">Contacts</div>

<header th:replace="~{/fragments/header :: header}">Main Navigation</header>

<main id="main" class="container" data-aos="zoom-in">
    <h1 class="display-6 text-center">Create a Contests</h1>
    <form th:action="@{/editions/{contestId}/create(contestId=${editionModel.contestId})}"
          th:method="post"
          th:object="${editionModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center aos-init aos-animate">
        <p th:if="${#fields.hasErrors('global')}"
           th:each="err : ${#fields.errors()}"
           th:text="${err}" class="text-danger">Error message</p>
        <div class="row">
            <div class="form-row col-md-2">
                <label for="number" class="form-label">Edition number</label>
                <input id="number"
                       th:field="*{number}"
                       th:errorclass="is-invalid"
                       type="number" class="form-control"
                       required>
                <div class="invalid-feedback" th:errors="*{number}">
                    Error message.
                </div>
            </div>

            <div class="form-row col-md-5">
                <label for="edition-type" class="form-label">Edition type</label>
                <select id="edition-type"
                        th:field="*{editionType}"
                        th:errorclass="is-invalid"
                        type="number" class="form-control"
                        required>
                    <option value="">-- Choose edition type --</option>
                    <option th:each="typeOpt : ${T(bg.manhattan.singerscontests.model.enums.EditionType).values()}"
                            th:value="${typeOpt}"
                            th:text="${typeOpt.displayName}">Option
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{editionType}">
                    Error message.
                </div>
            </div>
            <div class="form-row col-md-5">
                <label for="age-calculation-type" class="form-label">Age calculation type</label>
                <select id="age-calculation-type"
                        th:field="*{ageCalculationType}"
                        th:errorclass="is-invalid"
                        type="number" class="form-control"
                        required>
                    <option value="">-- Choose age calculation type --</option>
                    <option th:each="ageTypeOpt : ${T(bg.manhattan.singerscontests.model.enums.AgeCalculationType).values()}"
                            th:value="${ageTypeOpt}"
                            th:text="${ageTypeOpt.displayName}">Option
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{editionType}">
                    Error message.
                </div>
            </div>
        </div>
        <div class="row">
            <fieldset class="col-md-6">
                <legend>Edition duration</legend>
                <div class="row">
                    <div class="form-row col-md-6">
                        <label for="begin-date" class="form-label">Start of edition</label>
                        <input id="begin-date"
                               th:field="*{beginDate}"
                               th:errorclass="is-invalid"
                               type="date" class="form-control"
                               required>
                        <div class="invalid-feedback" th:errors="*{beginDate}">
                            Error message.
                        </div>
                    </div>
                    <div class="form-row col-md-6">
                        <label for="end-date" class="form-label">End of edition</label>
                        <input id="end-date"
                               th:field="*{endDate}"
                               th:errorclass="is-invalid"
                               type="date" class="form-control"
                               required>
                        <div class="invalid-feedback" th:errors="*{endDate}">
                            Error message.
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="col-md-6">
                <legend>Contestants subscription</legend>
                <div class="row">
                    <div class="form-row col-md-6">
                        <label for="sub-begin-date" class="form-label">Begin of subscription</label>
                        <input id="sub-begin-date"
                               th:field="*{beginOfSubscriptionDate}"
                               th:errorclass="is-invalid"
                               type="date" class="form-control"
                               required>
                        <div class="invalid-feedback" th:errors="*{beginOfSubscriptionDate}">
                            Error message.
                        </div>
                    </div>
                    <div class="form-row col-md-6">
                        <label for="sub-end-date" class="form-label">End of subscription</label>
                        <input id="sub-end-date"
                               th:field="*{endOfSubscriptionDate}"
                               th:errorclass="is-invalid"
                               type="date" class="form-control"
                               required>
                        <div class="invalid-feedback" th:errors="*{endOfSubscriptionDate}">
                            Error message.
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-row">
                <label for="regulations" class="form-label">Regulations</label>
                <textarea id="regulations"
                          th:field="*{regulations}"
                          th:errorclass="is-invalid"
                          class="form-control"
                          rows="5"
                          required></textarea>
                <div class="invalid-feedback" th:errors="*{regulations}">
                    Error message.
                </div>
            </div>
        </div>

        <div id="categories">
            <label class="form-label">Performance categories</label>
            <!--                <div class="form-row col">-->
            <!--                    <input id="category-name"-->
            <!--                           th:field="*{performanceCategories[__${itemStat.index}__].name}"-->
            <!--                           th:errorclass="is-invalid"-->
            <!--                           type="text" class="form-control"-->
            <!--                           placeholder="Category Name"-->
            <!--                           required>-->
            <!--                    <div class="invalid-feedback"-->
            <!--                         th:errors="*{performanceCategories[__${itemStat.index}__].name}">-->
            <!--                        Error message.-->
            <!--                    </div>-->
            <!--                </div>-->
<!--            <p class="text-danger" th:if="${#fields.errors('performanceCategories')}"-->
<!--               th:errors="*{performanceCategories}"></p>-->
<!--            <div class="row d-flex align-items-center" th:each="category, itemStat :*{performanceCategories}">-->
<!--                <div class="form-row col">-->
<!--                    <input id="category-name"-->
<!--                           th:field="*{performanceCategories[__${itemStat.index}__].name}"-->
<!--                           th:errorclass="is-invalid"-->
<!--                           type="text" class="form-control"-->
<!--                           placeholder="Category Name"-->
<!--                           required>-->
<!--                    <div class="invalid-feedback"-->
<!--                         th:errors="*{performanceCategories[__${itemStat.index}__].name}">-->
<!--                        Error message.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row col">-->

<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" value=""-->
<!--                               th:field="*{performanceCategories[__${itemStat.index}__].required}"-->
<!--                               th:errorclass="is-invalid"/>-->
<!--                        <label class="form-check-label">Required</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <input type="hidden" th:field="*{performanceCategories[__${itemStat.index}__].deleted}">-->
<!--                <div class="col align-self-start">-->
<!--                    <button name="btn-add" class="btn btn-multiply btn-primary" th:data-id="${itemStat.index}"><i-->
<!--                            class="bi bi-plus-square"></i></button>-->
<!--                    <button name="btn-remove" class="btn btn-multiply btn-danger" th:data-id="${itemStat.index}"><i-->
<!--                            class="bi bi-x-square"></i></button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div id="jury-members">
            <label class="form-label">Jury Members</label>
            <p class="text-danger" th:if="${#fields.errors('juryMembers')}" th:errors="*{juryMembers}"></p>
<!--            <div class="form-row" th:each="member, itemStat :*{juryMembers}" name="manager-row"-->
<!--                 th:data-manager="${itemStat.index}">-->
                <div class="row">
                    <div class="col-11">
                        <select class="selectpicker form-control"
                                th:field="*{juryMembers}"
                                th:errorclass="is-invalid" multiple>
                            <option th:each="m : ${juryMembersList}"
                                    th:value="${m.id}"
                                    th:text="${m.fullName}"
                            >Managers full name
                            </option>
                        </select>
                        <p class="invalid-feedback" th:errors="*{juryMembers}">
                            Name error message.
                        </p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-end">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>
</main>

<th:block th:insert="~{/fragments/scripts :: baseScripts}">
</th:block>

<script src="/js/contest-modify.js"></script>
</body>
</html>
