<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <h1 style="color: #4173a1;">Welcome to Singers Contests System</h1>
</table>
<p>
    Dear <th:block th:text="${fullName}">User</th:block>!
</p>
<p>
    Your email in the system was changed successfully!
</p>

Best regards,
The Singers contest team.
</body>
</html>
